<!-- . -->
{% extends 'base.html' %}
<!-- . -->
{% block title %}Tiendas{{block.super}}{% endblock %}
<!-- . -->
{% block main %}
<h1>Lista de tiendas</h1>
<div class="search">
   <form action="." method="get">
      <input type="text" name="storeTxt" placeholder="Nombre de la tienda" />
      <select name="categTxt">
         <option value="">Todas</option>
         {% for cat in categories %}
         <option value="{{cat.id}}">{{cat.name}}</option>
         {% endfor %}
      </select>
      <button type="submit">Buscar</button>
   </form>
</div>
<ul class="storeLst">
   {% for store in store_list %}
   <li>
      <h2>{{store.name}}</h2>
      <p>{{store.room}}</p>
      <p>{{store.category.name}}</p>
   </li>
   {% endfor %}
</ul>
<ul class="pages">
   {% if page_obj.has_previous %}
   <li><a href="?page=1"> &laquo; first</a></li>
   <li><a href="?page={{page_obj.previous_page_number}} ">previous</a></li>
   {% endif %}
   <li>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</li>
   {% if page_obj.has_next %}
   <li><a href="?page={{page_obj.next_page_number}} ">next</a></li>
   <li><a href="?page={{page_obj.paginator.num_pages}} ">last &raquo;</a></li>
   {% endif %}
</ul>
{% endblock %}
