<!-- . -->
{% extends 'base.html' %} {% load static %}
<!-- . -->
{% block title %}Tiendas{{block.super}}{% endblock %}
<!-- . -->
{% block main %}
<h1>Lista de tiendas</h1>
<div class="search">
   <form action="." method="get">
      <input
         type="text"
         name="storeTxt"
         placeholder="Nombre de la tienda"
         autofocus
      />
      <select name="categTxt">
         <option value="">Todas</option>
         {% for cat in categories %}
         <option value="{{cat.id}}">{{cat.name}}</option>
         {% endfor %}
      </select>
      <button type="submit">Buscar</button>
   </form>
</div>
<hr />
<a href=" {% url 'reviews:stores' %} ">Reset</a>
<hr />
<ul class="storeLst">
   {% for store in page_obj %}
   <li>
      <div class="logo">
         <img src=" {% static 'img/storeLogo.png' %} " alt="" />
      </div>
      <div class="info">
         <p>
            <a href=" {% url 'reviews:store' store.id %} " class="strName">
               {{store.name}}
            </a>
         </p>
         <p>{{store.category.name}}</p>
      </div>
      <div class="score">
         {% if store.totalScore == 0 %}
         <p>&theta;</p>
         {% else %}
         <p>{{store.totalScore|floatformat}}</p>
         {% endif %}
      </div>
   </li>
   {% endfor %}
</ul>

{% include './partials/pagination.html' %}
<!-- . -->
{% endblock %}
