/*■■■■■■■■■■■■■■■■■■■■ Imports */
@import "base";

/*■■■■■■■■■■■■■■■■■■■■ Header */
header {
   background: $dark-blue;
   text-transform: uppercase;
   nav {
      max-width: 1000px;
      margin: 0 auto;
      padding: 5px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .logo {
      a {
         display: block;
      }
      img {
         display: block;
      }
   }
   ul {
      display: flex;
      a {
         display: block;
         padding: 2px 20px;
         font-size: 1.2rem;
         border-bottom: 4px solid #fff;
         font-family: "Bebas Neue";
         &:hover {
            color: $yellow-1;
            border-bottom-color: $yellow-1;
         }
      }
      li {
         padding: 0 10px;
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Search */
.search {
   padding-top: 20px;
   form {
      margin: 0 auto;
      max-width: 50%;
      display: flex;
      justify-content: center;
      font-size: 0.9rem;
      input {
         padding: 5px 10px;
         border-radius: 10px 0 0 10px;
         outline: none;
         border: 1px solid $dark-blue;
         border-right: none;
         &:focus {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.4);
         }
      }
      select {
         border: 1px solid $dark-blue;
         padding: 5px;
         border-right: none;
      }
      button {
         outline: none;
         padding: 0 35px;
         border-radius: 0 10px 10px 0;
         border: 1px solid $dark-blue;
         background: $dark-blue;
         color: #fff;
         &:hover {
            box-shadow: 0 0 0 2px rgba($light-blue, 0.4);
            font-weight: bold;
            padding: 0 34px;
         }
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Buttons */
.back {
   display: inline-block;
   padding: 8px 20px 8px 35px;
   border: 1px solid $dark-blue;
   text-align: center;
   margin: 20px 0;
   border-radius: 10px;
   color: $dark-blue;
   background: #fff;
   position: relative;
   transition: 0.2s;
   &:before {
      content: "\00AB";
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%);
      font-weight: bold;
      transition: 0.2s;
   }
   &:hover {
      background: $dark-blue;
      color: #fff;
      &:before {
         left: 15px;
      }
   }
}
.add {
   display: inline-block;
   margin: 20px 0;
   padding: 8px 25px;
   background: $dark-blue;
   font-weight: bold;
   border: 1px solid $dark-blue;
   border-radius: 10px;
   box-shadow: 2px 2px 2px #fff;
   transition: 0.2s;
   &:hover {
      box-shadow: 1px 1px 0 #fff, inset 0 0 3px rgba($light-blue, 0.8);
      transform: translate(1px, 1px);
      border-color: $light-blue;
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Store List */
.storeLst {
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   li {
      display: flex;
      padding: 10px;
      border: 1px solid $dark-blue;
      border-radius: 10px;
      a {
         font-size: 1.2rem;
      }
      img {
         margin-right: 10px;
         width: 120px;
      }
      .info {
         flex: 1;
         margin-right: 10px;
         align-self: center;
         p:last-child {
            font-size: 0.8rem;
         }
      }
      .score {
         p {
            font-family: "Bebas Neue";
            font-size: 4rem;
            border-bottom: 5px solid #fff;
         }
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Store */
.store {
   display: flex;
   padding: 15px;
   border: 1px solid $dark-blue;
   border-radius: 15px;
   margin: 0 50px;
   img {
      margin-right: 20px;
   }
   .info {
      flex: 1;
      .strName {
         font-size: 2rem;
         font-family: "Bebas Neue";
      }
   }
   .score {
      p {
         font-family: "Bebas Neue";
         font-size: 4rem;
         border-bottom: 5px solid #fff;
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Bar */
.bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid rgba(#fff, 0.2);
}

/*■■■■■■■■■■■■■■■■■■■■ Review List */
.reviewLst {
   padding-top: 20px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;
   li {
      border: 1px solid $dark-blue;
      padding: 10px;
      border-radius: 10px;
      .info {
         display: flex;
         justify-content: space-between;
      }
      .strName {
         font-weight: bold;
         font-size: 0.8rem;
      }
      .desc {
         padding-top: 10px;
      }
   }
}

/*■■■■■■■■■■■■■■■■■■■■ Add Review */
.new {
   width: 400px;
   margin: 20px auto 0;
   padding: 15px;
   border: 1px solid $dark-blue;
   border-radius: 10px;
   .frmT {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
   }
   input,
   label,
   textarea {
      display: block;
      font-size: 0.9rem;
      padding: 5px;
      outline: none;
   }
   label {
      padding-top: 15px;
   }
   input[type="text"] {
      width: 100%;
   }
   textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      min-height: 100px;
      max-height: 150px;
   }
   input[type="text"],
   textarea {
      border-radius: 5px;
      border: 1px solid #fff;
      &:focus {
         border-color: $dark-blue;
         box-shadow: 0 0 2px 2px $light-blue;
      }
   }
   button {
      color: #fff;
      cursor: pointer;
      margin: 20px auto 5px;
      display: block;
      font-size: 1rem;
   }
}

/*■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■  */
