{% load static %}
<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="{% static 'css/main.css' %}" />
      <title>{% block title %} | RCCR{% endblock %}</title>
   </head>
   <body>
      <header>
         <nav>
            <h1 class="logo">
               <a href=" {% url 'reviews:index' %} ">
                  <img src="{% static 'img/rccrLogo.png' %}" alt="" />
               </a>
            </h1>
            <ul>
               <li><a href=" {% url 'reviews:stores' %} ">Tiendas</a></li>
               <li><a href=" {% url 'reviews:about' %} ">Nosotros</a></li>
            </ul>
         </nav>
      </header>
      <main>{% block main %}{% endblock %}</main>
      <footer>&copy; 2021, Oscar Pastrano</footer>
   </body>
</html>
